{% load static %}

<!-- Masthead-->
<header class="masthead bg-secondary text-white text-center">
    
    <div class="container d-flex align-items-center flex-column">
      
        {% comment %} <h1 class="masthead-heading text-uppercase mb-0">Cabresto</h1> {% endcomment %}
        <img class="img-fluid mb-5" src="{% static '../static/img/banner.png' %}" alt="..." />
        
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Desenvolvendo produtos para o conforto dos seus pés</p>
        
    </div>
</header>